<h1>PokeDex</h1>

   
        <% pokemon.forEach((p) => { %>
            <div class="pokedex">
                <a  href="/pokemon/<%= p.name %>"><p><img src="https://img.icons8.com/color/48/000000/star-pokemon.png"/> <%= p.name %> <img src="https://img.icons8.com/color/48/000000/star-pokemon.png"/></p></a>
            </div>
         
         <% }) %> 
   

